# =========================
# IntelliJ / Eclipse / VS Code
# =========================
.idea/
*.iml
.vscode/
.settings/
bin/
out/

# =========================
# Env files
# =========================
*.env